html
  head
    title Glory's Meditation Center - #{title}
    block script
    block style
  body
    block content
    footer 
        | Copyright © 2022 
        span GlorysMeditationCenter.com 
        | All Rights Reserved.